// 部分だけ変えるやつ（場所関係ない）


// テキスト非表示用
.style-hidden {
  display: none;
}

// フォント変える
.font-professor {
  font-family: professor, sans-serif;
  font-weight: 300;
  font-style: normal;
}


// アンダーライン
.under-line {
  background: linear-gradient(transparent 50%, #fbff5f 50%);
}