// 成分表示

.components {

	padding-top: 3rem;
	background: #f5f5f5;
	padding-bottom: 60px;
	margin-top: 60px;
}
.components-title {
	-webkit-font-feature-settings: "palt" 1;
	font-feature-settings: "palt" 1;
	font-size: 1.5rem;
	font-family: "Noto Sans JP", "游ゴシック体", YuGothic, Hiragino Sans, sans-serif;
	text-align: center;
	font-weight: 300;
}
.components-wrapper {
	padding: 0 0.75rem;
}
.components-itemName {
	margin-top: 30px;
	color: #707070;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
}
@media (min-width: 760px) {
	.components-itemName {
		margin-top: 30px;
		font-size: 18px;
	}
}
.itemName-Flavor {
	margin-top: 2rem;
}
.components-table {
	margin-top: 1rem;
	border: solid 1px #707070;
	font-size: 0.875rem;
	width: 100%;
}
.components-table tr {
	background: 0 0;
}
.components-table tr:nth-child(even) {
	background: 0 0;
}
.components-table th {
	text-align: center;
	display: block;
	padding: 0.5rem;
	border-bottom: 1px dotted #707070;
	color: #707070;
	font-size: 0.875rem;
	font-weight: 300;
}
.components-table td {
	display: block;
	padding: 0.5rem;
	border-bottom: 1px solid #707070;
	color: #707070;
	font-size: 0.8125rem;
	font-weight: 300;
}
.components-table tr:last-child td {
	border-bottom: none;
}
.components-trigger {
	display: none;
}

@media (min-width: 760px) {
	.comparison {
		max-width: 950px;
		margin: 0 auto;
		padding: 5rem 0;
  }
  .comparison-Title {
		font-size: 1.5rem;
  }
  .comparison-currentItemBtn {
		max-width: 768px;
		margin: 0 auto;
  }
  .components-wrapper {
		max-width: 950px;
		margin: 0 auto;
  }
  .components-table {
		width: 100%;
		font-size: 0.75rem;
		table-layout: fixed;
  }
  .components-table th {
		display: table-cell;
		width: 140px;
		font-size: 0.75rem;
  }
  .components-table td {
		display: table-cell;
		font-size: 0.75rem;
  }
}

@media (max-width: 760px) {
  .components-unit {
		position: relative;
  }
  .components-btn {
		display: inline-block !important;
		z-index: 2;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 50%;
		padding: 0.5rem;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		border: solid 2px #707070;
		border-radius: 25px;
		background: #fefefe;
		color: #707070;
		font-size: 0.875rem;
		text-align: center;
		cursor: pointer;
  }
  .components-btn::before {
		content: "詳細を見る";
  }
  .components-cnt {
		position: relative;
		height: 220px;
		overflow: hidden;
  }
  .components-cnt::before {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 54px;
		background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(#fafaf5),
			to(rgba(250, 250, 245, 0))
		);
		background: -webkit-linear-gradient(
			bottom,
			#fafaf5,
			rgba(250, 250, 245, 0)
		);
		background: linear-gradient(0deg, #fafaf5, rgba(250, 250, 245, 0));
		content: "";
  }
  .components-trigger:checked ~ .components-btn::before {
		content: "閉じる";
  }
  .components-trigger:checked ~ .components-btn {
		bottom: 2rem;
		-webkit-box-shadow: none;
		box-shadow: none;
  }
  .components-trigger:checked ~ .components-cnt {
		height: auto;
		padding-bottom: 6rem;
  }
  .components-trigger:checked ~ .components-cnt::before {
		display: none;
  }
}