// 商品一覧リンク

// リンク集のパターン
.offerList {
  margin-bottom: 30px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
  }

  &__link {
    display: block;
  }

  &__item {
    width: 50%;
    &--wide {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }
}
