// オファー

.offer {
  font-family: "游ゴシック体", YuGothic, Hiragino Sans, sans-serif;

  &__title {
    // htmlの改行がそのまま反映される
    white-space: pre-line;

    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

    &Slash {
      &::before {
        content: "＼";
      }

      &::after {
        content: "／";
      }
    }

    &Emphasis {
      font-size: 24px;
    }

  }

  &__wrap {
    width: calc(100vw - 174px);
  }

  &__item {
    display: flex;
    // flexの時だけセンター揃え
    justify-content: flex-start;
    padding: 5px 15px;
    margin-bottom: 10px;

    &--big {
      flex-flow: column;

      .offer__img {
        width: 100%;
        max-height: min-content;
      }
      .offer__wrap {
        width: 100%;
      }
    }
  }


  &__img {
    width: 130px;
    margin-right: 5px;
    max-height: 170px;
  }

  &__label {
    display: flex;

    &Item {
      background-color: #cb0000;
      color: #fff;
      font-size: 13px;
      border-radius: 3px;
      margin-right: 3px;
      padding: 2px 4px;
    }
  }

  &__name {
    font-size: 18px;
    white-space: pre-wrap;
    margin: 3px 0;
    line-height: 1.3;
  }

  &__detail {
    font-size: 11px;
    margin-bottom: 5px;
  }

  &__listPrice {
    font-size: 12px;
    color: #767676;
    margin-bottom: 0px;
    // 打ち消し線はhtmlのsタグでつける
    s {
      font-size: 23px;
      color: #cb0000;
      font-weight: 500;
    }
  }

  &__discountPrice {
    font-size: 15px;

    &Value {
      color: #cb0000;
      font-size: 35px;
      line-height: 1;
      font-weight: 500;
    }
  }

  &__saving {
    font-size: 15px;
    color: #cb0000;
    margin-bottom: 15px;
    font-weight: 500;
  }


  &__annotation {
    padding: 0 20px;
    margin: 20px auto;
    max-width: 500px;
    text-align: justify;
  }


  // カートボタン
  .offer__button {
    background-color: #b9c524;
    padding: 10px 15px;
    margin: 10px 0 5px;
    color: #fff;
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    // ボタンタグ特有の表示を消す↓
    border: none;
    appearance: none;
    border-bottom: solid 4px #99a30a;

    &:active {
      border-bottom: none;
      transform: translateY(4px);
      margin-bottom: 9px;
    }

    &:focus {
      outline: none;
    }

    span {
      margin-right: 12px;
    }
  }

.offer__banner {
  margin-bottom: 30px;
}

  // PC用
  @media screen and (min-width: 768px) {
    .offer {
      &__item {
        margin: 0 auto 20px;
        width: fit-content;
        align-items: flex-end;
        max-width: 500px;

        &--big {
          flex-flow: row;
          max-width: 900px;

          .offer__img {
            max-width: 440px;
          }
        }
      }

      &__img {
        max-width: 250px;
        height: auto;
      }

      &__labelItem {
        font-size: 15px;
      }

      &__discountPriceValue {
        font-size: 50px;
      }

      .button {
        min-width: 425px;
      }

    }
  }
}

.offer__accordion__contents {
  margin: 10px 20px 5px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .offer__accordion__top {
    max-width: 70%;
  }
}

.offer__accordion__top {
  // max-width: 300px;
  margin: 20px auto;
  margin-bottom: 10px;
}
