// スペシャル特典

.specialFavor {
    padding-bottom: 50px;
}


@media screen and (min-width: 768px) {
.specialFavor {
    // max-width: 1000px;
    margin: 0 auto;
    &__list {
        display: flex;
        }
    }
}
