<section>
  <input id="trigger7" class="accordion7__input" type="checkbox" />
  <div class="accordion7__wrap">
    <p class="offer__accordion__contents">
      ほどよい弾力で、頭皮の毛穴汚れをやさしくオフ。さらにマッサージ効果で頭皮のコリをほぐし、血行を促進することも！ブラシの先はやわらかいシリコン製なので、頭皮を傷つけにくいところも◎毎日のバスタイムで、ヘッドスパ気分を味わいませんか？
    </p>
  </div>
  <label for="trigger7" class="accordion7__label"></label>
</section>
