<section>
  <input id="trigger7" class="accordion7__input" type="checkbox" />
  <div class="accordion7__wrap">
    <p class="offer__accordion__contents">ああああああああ</p>
  </div>
  <label for="trigger7" class="accordion7__label"></label>
</section>
