<section class="layout01">
  <img class="layout01__img" src="./img/layout01.png" alt="layout01" width="540" height="440" />
  <div class="layout01__column">
    <h1 class="layout01__title">Ad eos saepe lucilius, noster postulant philosophia ea usu, qui dicta sadipscing te.</h1>
    <p class="layout01__text">
      Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam
      animal molestiae te. Ex duo eripuit mentitum.
    </p>
    <div class="layout01__wrap">
      <button class="layout01__button layout01__button--primary">Primary action</button>
      <button class="layout01__button layout01__button--secondary">Secondary action</button>
    </div>
  </div>
</section>
