<div class="modal">
  <label class="modal__btn" for="modal1">モーダルを表示する</label
  ><!-- チェックボックスラベル -->
  <input type="checkbox" id="modal1" /><!-- 非表示チェックボックス -->
  <label class="modal__overlay" for="modal1"></label
  ><!-- オーバーレイ -->
  <div class="modal__body1">
    <div class="modal__content">
      <label class="modal__close" for="modal1">閉じる</label
      ><!-- 閉じるボタン -->
      <img src="./img/layout01.png" alt="" />
      <!-- モーダル内コンテンツ -->
      <div class="modal__wrap">
        <p>モーダル1</p>
        <ul>
          <li>コンテンツ1</li>
          <li>コンテンツ2</li>
          <li>コンテンツ3</li>
        </ul>
        <ul>
          <li>コンテンツ1</li>
          <li>コンテンツ2</li>
          <li>コンテンツ3</li>
        </ul>
        <ul>
          <li>コンテンツ1</li>
          <li>コンテンツ2</li>
          <li>コンテンツ3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
