body {
  font-family: 'ヒラギノ角ゴシック', 'Noto Sans JP', '游ゴシック体', YuGothic, Hiragino Sans, sans-serif;
  color: #4c4948;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

main {
  max-width: 900px;
  margin: 0 auto;
}
